
body{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
    background-image: url('../images/coffee-171653_1920.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
}